body {
	overflow: auto;
	font-family: 'Century Gothic', sans-serif;
	background-image: url(../img/geometry.jpg);
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#photoBooth {
	margin-top: .2em;
	padding: 10px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 2px;
}	

#slideShow {	
	position: relative;
}

.photoHolder {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.moreIndicator {
	height: 50px;
	width: 50px;
	position: absolute;
	z-index: 3;
	opacity: .8;
	top: 330px;
	left:300px;
	vertical-align: center;
}

.thumbnail {
	position: relative;
	box-shadow: 1px 3px 20px 0px;
	width: 500px;
	height: 400px;
}


.banner {
	text-align: center;
	font-size: 1.25em;
}

#nav {
	clear: both;
	position: relative;
}

#prevPhoto {
	height: 42px;
	width: 42px;
}

#nextPhoto {
	height: 42px;
	width: 42px;
	float:right;
}

#prevPhoto:hover {
		opacity: .80;
}

#nextPhoto:hover {
		opacity: .80;
}



.details p {
	margin-top: 20px;
}
.details {
	border: 1px #000 dashed;
	padding: 0px 10px;
	margin: 20px 0px;
}

*Add CSS styles to rotate the element 90deg
Make it animate nicely. You'll need CSS3 for this*/
.rot90 {
	webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
	transition: all 1s ease;
}

/*Add CSS styles to rotate the element 180deg
Make it animate nicely. You'll need CSS3 for this*/
.rot180 {
	webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
	transition: rotate(180deg);	
}

/*Add CSS styles to rotate the element 270deg
Make it animate nicely. You'll need CSS3 for this*/
.rot270 {
	webkit-transform:rotate(270deg);
        -moz-transform:rotate(270deg);
        -o-transform:rotate(270deg);
        -ms-transform:rotate(270deg);
        transform:rotate(270deg);
	transition: all 1s ease;
}
